<launch>
  
  <node pkg="robucar_controller" type="base_controller.py"  name="base_controller" output="screen">
  	<param name="forcedmode" type="string" value="no" />  
  </node> <!-- forced mode can be: no, simple or double -->

  <node pkg="robucar_controller" type="cmd_vel_controller.py"  name="cmd_vel_controller" output="screen"></node>

</launch>
