<launch>

	<include file="$(find robucar_driver)/launch/robucar_driver.launch"></include>

	<include file="$(find robucar_controller)/launch/robucar_controller.launch"></include>

	<include file="$(find robucar_tele)/launch/robucar_tele.launch"></include>
	
	<include file="$(find robucar_tele)/launch/firewire.launch"></include>

	<include file="$(find robucar_description)/launch/robucar_rviz.launch"></include>

</launch>
