<launch>
  
  <node pkg="robucar_driver" type="robucar_actuators.py" name="robucar_actuators" output="screen">
  	<param name="ip" type="string" value="localhost" />
  	<param name="port" type="int" value="11000" />
  </node>
  <node pkg="robucar_driver" type="robucar_monitor.py"  name="robucar_monitor"  output="screen">
  	<param name="ip" type="string" value="localhost" />
  	<param name="port" type="int" value="12000" />
  </node>

  <node pkg="robucar_driver" type="laser.py"  name="lms5xx"  output="screen" >  </node>

</launch>
